<%- include('../port/layout-start', {title: title}) %>
    <%- include('../port/menu') %>

        <h1>
            <%= title %>
        </h1>

        <div class="row">
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Название книги</h5>
                        <p class="card-text">
                            <%= book.title %>
                        </p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Краткое описание</h5>
                        <p class="card-text">
                            <%= book.description %>
                        </p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Авторы</h5>
                        <p class="card-text">
                            <%= book.authors %>
                        </p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Избранные отрывки</h5>
                        <p class="card-text">
                            <%= book.favorite %>
                        </p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Обложка</h5>
                        <p class="card-text">
                            <%= book.fileCover %>
                        </p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <a href="<%= book.id %>/download"><%= book.fileName %></a>
                    </div>
                </div>

                <div class="text-right">
                    <a class="btn btn-sm btn-primary" href="/update/<%= book.id %>">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <form action="/delete/<%= book.id %>" method="POST" class="d-inline">
                        <button class="btn btn-sm btn-danger">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <%- include('../port/layout-end') %>